<h1><%= @user.first_name + " " + @user.last_name %> </h1>
<h2><%=@user.potholes.count %> potholes marked</h2>
<h2>DOB: <%= @user.born_on %></h2>
<h2>Email on record: <%= @user.email %></h2>


<%= link_to 'Edit', edit_user_path(current_user.id) %>
