<h1>User profile page</h1>

<h2><%= @user.first_name + " " + @user.last_name %> </h1>
<h2>Born on: <%= @user.born_on %></h2>
<h2>Email: <%= @user.email %></h2>
<%= @user.potholes.each do |pot| %>
<%= pot.latitude %>
<%= pot.longitude %>
<% end %>

<%= link_to 'Edit', edit_user_path(current_user.id) %>
