<div id="infoDiv">

  <% if @holes.size > 0 %>
  <hr>
  <h4><%= @holes.size%> Potholes within <%= @distance %> miles </h4>
  <hr>

  <% @holes.each do |pot| %>
  <p>Marked by <%= link_to pot.user.username, user_path(pot.user_id) %></p>
  <% if pot.loc.nil? %>
  <p><i>Unable to find address</i></p>
  <% else %>
  <p>
    <i><%= pot.loc %></i>
  </p>
  <%end %>
  <p>Severity:
    <%= pot.severity %> </p>
    <p>
      <%= link_to 'view', pothole_path(pot.id) %>
    </p>
  <hr>

  <% end%>
  <% else %>
  <h4>No potholes found within <%= @distance %> miles </h4>
  <% end %>


</div>
