<div id="infoDiv">
  <% if @holes.size > 0 %>
  <hr>
  <h4><%= @holes.size%> Potholes within <%= @distance %> miles </h4>
  <hr>

  <% @holes.each do |pot| %>
  <p>
    <i><%= pot.loc %></i>
  </p>
  <p>Severity:
    <%= pot.severity %></p>

  <hr>
  <% end%>
  <% else %>
  <h4>No potholes found within <%= @distance %> miles </h4>
  <% end %>


</div>
