<!DOCTYPE html>
<html>
  <head>
    <p>42069</p>
    <title>PotholeRadar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <h3>
    <% flash.each do |message_type, message| %>
          <p><%= message %></p>
    <% end %>
  </h3>
  <% if logged_in? %>
      <%= link_to "Log out", logout_path, method: :delete %>
  <% else %>
      <li><%= link_to "Log in", login_path %></li>
  <% end %>
  <h1>
    USER ID: <%= session[:user_id] %>
  </h1>
  <body>
    <%= yield %>
  </body>
</html>
