<!DOCTYPE html>
<html>
  <head>
    <title>PotholeRadar</title>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyAWx_3Rjh9szUJCO96Z2Cxx6iK8N0nf9I4" data-turbolinks-eval="false"></script>
    <script src="https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!--[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"> </script> <![endif]-->
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "S w e r v e", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <% flash.each do |message_type, message| %>
            <div class="flash">
              <%= message %>
            </div>
            <% end %>
          </li>
          <% if !logged_in? %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", '#' %></li>
          <li><%= link_to "Map", potholes_path%></li>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", '#' %></li>
          <li><%= link_to "Map", potholes_path%></li>
          <li><%= link_to "Profile", user_path(current_user.id)%></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>

</html>
