<div id="bottom">
  <div id = "search">

  <%= form_tag('/bounds', remote: true) do  %>

    <%=text_field_tag 'location','', {size: 50, placeholder: "Enter location to relocate to"}%>
    &nbsp
    <%= submit_tag 'Relocate', class: 'btn-primary' %>

 <% end %>

  </div>
  <div id="home">

  <%= form_tag('/home', remote: true) do  %>
  <%= submit_tag "Return home", class: 'btn-primary' %>
   <% end %>

   </div>

</div>
