<div id="infoDiv">
<div id="infoTitle">


  <% if @holes.size > 0 %>

  <h4><%= @holes.size%>
    Potholes within
    <%= form_tag '/change_distance', :format => :js, :remote => true do  %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= select_tag :distance, options_for_select((10..50).step(5)), { onchange: 'javascript: $( this ).trigger("submit.rails")' } %>
    <% end %>
    miles of you
  </h4>
  <h4>Sorted closest to farthest</h4>
</div>
<div id="potholeInfo">
  <hr>
  <% @holes.each do |pot| %>

  <p>Marked by
    <%= link_to pot.user.username, user_path(pot.user_id) %></p>
  <% if pot.loc.nil? %>
  <p>
    <i>Unable to find address</i>
  </p>
<% else %>
  <p>
    <i><%= pot.loc %></i>
  </p>
  <%end %>
  <p>Severity:
    <%= pot.severity %>
    &nbsp
      <%= link_to 'view', pothole_path(pot.id) %>
  </p>

  <hr>

  <% end%>
<% else %>
  <h4>No potholes found within
    <%= @distance %>
    miles
  </h4>
  <% end %>
</div>
</div>
