<%= form_for(@pothole, :remote => true) do |form| %>

<h3>Mark a pothole</h3>

<%-# These form fields are set with javascipt in render_map. gone is in custom.scss -%>
<p>
  <%= form.number_field :user_id,class: "gone"%>
</p>
<p>
  <%= form.number_field :latitude,class: "gone", step: :any%>
</p>
<p>
  <%= form.number_field :longitude,class: "gone", step: :any%>
</p>

<p>
  <%= form.label "Depth (Choose which is closest)*" %><br>
  <%= form.select :depth, options_for_select(@width_options), {:include_blank => 'Not specified'} %>
</p>
<p>
  <%= form.label "Width (Choose which is closest)*" %><br>
  <%= form.select :width, options_for_select(@width_options), {:include_blank => 'Not specified'} %>
</p>
<p>
  <%= form.label "Severity*" %><br>
  <%= form.select :severity, options_for_select(@severity_options), {:include_blank => 'Not specified'} %>
</p>
<p>
  <%= form.label "Authorities contacted?*" %><br>
  <%= form.select :authorites_contacted,options_for_select(@autho_options), {:include_blank => 'Not specified'} %>
</p>
<p>
  <%= form.label "Comments" %><br>
  <%= form.text_field :description %>
</p>

<%= form.submit "Submit", class: "mfp-close" %>

<% end %>
