<%= form_for(@pothole, :remote => true) do |form| %>

<h3>Mark a pothole</h3>

<p>
<%= form.number_field :user_id,class: "gone"%>
</p>
<p>
  <%= form.number_field :latitude,class: "gone", step: :any%>
  </p>
  <p>
  <%= form.number_field :longitude,class: "gone", step: :any%>
  </p>


<p>
  <%= form.label "Severity*" %><br>
  <%= form.select :severity, (1..10) %>
</p>
<p>
  <%= form.label "Depth*" %><br>
  <%= form.select :depth, (1..5) %>
</p>
<p>
  <%= form.label "Width*" %><br>
  <%= form.select :width, (1..5) %>
</p>
<p>
  <%= form.label "Authorities contacted?*" %><br>
  <%= form.check_box :authorites_contacted %>
</p>
<p>
  <%= form.label "Comments" %><br>
  <%= form.text_field :description %>
</p>



<%= form.submit "Submit", class: "mfp-close" %>

<% end %>
